<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>List Players</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>

<body>

<div class="container">

    <h3>List Players</h3>

    <hr/>

    <table class="table table-bordered table-striped">

        <thead>
        <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Age</th>
            <th>Number</th>
            <th>Team</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="player: ${players}">
            <td th:text="${player.id}"/>
            <td th:text="${player.firstName}" />
            <td th:text="${player.lastName}" />
            <td th:text="${player.age}" />
            <td th:text="${player.number}" />
            <td th:text="${player.team?.name}"/>
        </tr>
        </tbody>

    </table>
</div>

</body>

</html>