<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>List Games</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>

<body>

<div class="container">

    <h3>List Games</h3>

    <hr/>

    <table class="table table-bordered table-striped">

        <thead>
        <tr>
            <th>ID</th>
            <th>Game type</th>
            <th>Field</th>
            <th>Team1</th>
            <th>Score1</th>
            <th>Team2</th>
            <th>Score2</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="game: ${games}">
            <td th:text="${game.id}"/>
            <td th:text="${game.gameType}" />
            <td th:text="${game.field}" />
            <td th:text="${game.team1?.name}" />
            <td th:text="${game.score1}" />
            <td th:text="${game.team2?.name}" />
            <td th:text="${game.score2}"/>
        </tr>
        </tbody>

    </table>
</div>

</body>

</html>