<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>List Teams</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>

<body>

<div class="container">

    <h3>List Teams</h3>

    <hr/>

    <table class="table table-bordered table-striped">

        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Captain</th>
            <th>Colour</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="team: ${teams}">
<!--            Do not put ? before attributes that are not objects, 500-->
            <td th:text="${team.id}"/>
            <td th:text="${team.name}" />
            <td th:text="${team.captain?.firstName}"/>
            <td th:text="${team.colour}"/>
            <td><a th:href="@{/delete/{id}(id=${team.id})}">Delete</a></td>
        </tr>
        </tbody>

    </table>
</div>

</body>

</html>