<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <script src ="/team.js"></script>
  <title>Getting Started: Handling Form Submission</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>
<!--<form:form method="POST" action="/spring-mvc-basics/addEmployee"-->
<!--           modelAttribute="employee">-->
<!--  <form:label path="name">Name</form:label>-->
<!--  <form:input path="name" />-->

<!--  <form:label path="id">Id</form:label>-->
<!--  <form:input path="id" />-->

<!--  <input type="submit" value="Submit" />-->
<!--</form:form>-->
</body>
</html>