<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src ="team.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="tableDiv"></div>
<!--&lt;!&ndash;Add bootstrap for form&ndash;&gt;-->
<!--<form id='formId' action='' >ID:-->
<!--    <input type='text'-->
<!--           id='id'>-->
<!--    </input>-->
<!--    <br>Name:-->
<!--    <input type='text'-->
<!--           id='name'>-->
<!--    </input>-->
<!--    <br>Colour:-->
<!--    <input type='text'-->
<!--           id='colour'>-->
<!--    </input>-->
<!--    <br>-->
<!--    <button type='submit'-->
<!--            id='submitButton'-->
<!--            onclick="postTeam()">-->
<!--        Submit-->
<!--    </button>-->
<!--</form>-->
<form method="post"><br><br>
    Name :<input type="text" name="name" id="name"/><br><br>
    <input type="submit" value="submit" id="save_data"/>
</form>
<script>
$(document).ready(function() {
$("#save_data").click(function() {
	alert("succeess");
        $.ajax({
            url: "http://localhost:8080/team/createTeam",
            type: "POST",
            dataType: JSON,
            data: {
					name:$('#name').val()
					},
            success : function(data){
            alert(data);
            }
        });

});
});
</script>
</body>
</html>